<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="GOOGLE_API_KEY" value="AIzaSyDM4pY9Yb7oxqhOm9X7qXQxCuso8rODgUM"/>
        <env name="VIMEO_CLIENT_ID" value="80632b7490b6967fcd236d700b48a74d89e98fd1"/>
        <env name="VIMEO_CLIENT_SECRET" value="iSgrRG3srqKLZ5gGmCn0j5OFG9Apcz4coPV20ZSkPRmGMzrsSSTgcii5w6Eq4d3X/jZBuefeLnkmQnOWahWjC3LQEmqT3wsU5wJmFepZKyBSzwxCgPabwo3FbPueA+Ph"/>
    </php>
</phpunit>
